.header {
    margin-bottom: 18px;
    height: 72px;
    background: white;
    border-radius: 70px;
    padding: 0px 32px 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 211px;
    height: 48px;
    background-image: url('../../assets/icons/TestLogo.svg');
    opacity: 1;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-button {
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 3px;
}

#overview-icon {
    background: url('../../assets/icons/home_FILL0_wght300_GRAD0_opsz24.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#patients-icon {
    background: url('../../assets/icons/group_FILL0_wght300_GRAD0_opsz24.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#schedule-icon {
    background: url('../../assets/icons/calendar_today_FILL0_wght300_GRAD0_opsz24.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#messages-icon {
    background: url('../../assets/icons/chat_bubble_FILL0_wght300_GRAD0_opsz24.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#transactions-icon {
    background: url('../../assets/icons/credit_card_FILL0_wght300_GRAD0_opsz24.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-details p {
    font-size: 14px;
}

#profile-pic {
    width: 44px;
    height: 44px;
    background: url('/img/senior-woman-doctor-and-portrait-smile-for-health-2023-11-27-05-18-16-utc.png') 0% 0% no-repeat padding-box;
    border-radius: 50%;
    margin-right: 8px;
}

#settings-gear-icon {
    width: 20px;
    height: 20px;
    background: url('../../assets/icons/settings_FILL0_wght300_GRAD0_opsz24.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

#settings-elepsis-icon {
    width: 20px;
    height: 20px;
    background: url('../../assets/icons/more_horiz_FILL0_wght300_GRAD0_opsz24.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    transform: rotate(90deg);
}
