:host {
    display: block;
    height: 100%;
    min-height: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 18px);
    min-height: 0;
}

.lab-results-list {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.lab-result-item {
    font-size: 14px;
    padding: 10px 16px;
}

.view-details-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    display: inline-block;
}

.selected {
    background-color: #F6F7F8 
}
